/* sub.css */

/* 배경 초기화 */
body {
  background: #000;
}

#video .container{
  /* border: 2px solid red; */
}

#video #main_header {
  position: relative;
  width: 100%;
  background: url(../images/official_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
@media screen and (max-width: 550px) {
  #video #main_header {
    background: #000;
  }

}

#video .header_box {
  display: none;
}

#main {
  position: relative;
}

#main iframe {
  width: 100%;
  /* header, footer 공간을 제외한 영상 영역 */
  height: calc(100vh - 200px);
  background: #abc;
  /* border: 2px solid green; */
  display: block;
}

#main_footer {
  clear: both;
  position: relative;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100px;
  background: #000;
  /* border: 1px solid yellow; */
}

#main_footer .sns { margin-top: 20px;}
#main_footer .sns li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


/* synopsis*/

#gallery #main_header {
  position: relative;
  width: 100%;
  background: url(../images/official_logo.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}
@media screen and (max-width: 550px) {
  #gallery #main_header {
    background: #000;
  }
}

#gallery .header_box {
  display: none;
}

#gallery #main figure {
  max-width: 1000px;
  /* outline: 2px solid red; */
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
}

#gallery #main figure img {
  width: 100%;
}

#gallery #main ul {
  /* outline: 2px solid green; */
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

#gallery #main ul li {
  width: calc(100% / 6);
  float: left;
  /* outline: 2px solid red; */
  border: 1px solid #707070;
  overflow: hidden;
}
#gallery #main ul li:hover {
  border: 4px solid #ED1C24;
}

#gallery #main ul li a img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 500px) {
  .clear { clear: both;}
  #gallery #main ul.thumb {
    overflow: hidden;
    width: 100%;
    margin-left: 20px;
  }
  #gallery #main ul.thumb li {
    width: calc((100% - 40px) / 3);
    float: left;
    /* outline: 2px solid red; */
    /* border: 1px solid #707070; */
    overflow: hidden;
  }
  #main_footer {
    position: absolute;
  }
}

